/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-4 py-2 font-bold rounded;
}

.btn-small {
  @apply px-2 rounded font-semibold;
}

.btn-blue {
  @apply btn bg-blue-500 hover:bg-blue-700 text-white;
}

.btn-green {
  @apply btn bg-green-500 hover:bg-green-600 text-white;
}

.selector-cell {
  width: 15%;
}

.title-cell {
  width: 20%;
  @apply text-center;
}

.score-cell {
  width: 5%;
  @apply text-center;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

tr {
  @apply border border-collapse border-solid;
}

td {
  @apply border border-collapse border-solid;
}
