<div class="shadow-lg mb-3">
  <div class="mx-5">
    <button class="mx-4 text-xl my-2 hover:font-semibold" routerLink="/">
      Home
    </button>
    <button
      class="mx-4 text-xl my-2 hover:font-semibold"
      routerLink="gamestartninth"
    >
      40k 9th Edition
    </button>
    <button
      class="mx-4 text-xl my-2 hover:font-semibold"
      routerLink="scoreboard"
    >
      Scoreboard
    </button>
    <button class="mx-4 text-xl my-2 hover:font-semibold" routerLink="results">
      Results
    </button>
  </div>
</div>
