<table class="mx-auto mb-3 border-2 border-collapse table-fixed">
  <thead>
    <tr>
      <th class="title-cell">Objective</th>
      <th class="selector-cell">Turn 1</th>
      <th class="selector-cell">Turn 2</th>
      <th class="selector-cell">Turn 3</th>
      <th class="selector-cell">Turn 4</th>
      <th class="selector-cell">Turn 5</th>
      <th class="score-cell">Total</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <td class="title-cell">Primary</td>
      <td class="selector-cell">
        <input type="number" placeholder="-" disabled />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="pScores[0]"
          (change)="calculatePrimaryScore()"
          max="12"
          min="0"
        />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="pScores[1]"
          (change)="calculatePrimaryScore()"
          max="12"
          min="0"
        />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="pScores[2]"
          (change)="calculatePrimaryScore()"
          max="12"
          min="0"
        />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="pScores[3]"
          (change)="calculatePrimaryScore()"
        />
      </td>
      <td class="score-cell">{{ player.primaryScore }}</td>
    </tr>
    <tr>
      <td class="title-cell">Additional Primary</td>
      <td class="selector-cell">
        <input type="number" placeholder="-" disabled />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="apScores[0]"
          (change)="calculatePrimaryScore()"
        />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="apScores[1]"
          (change)="calculatePrimaryScore()"
        />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="apScores[2]"
          (change)="calculatePrimaryScore()"
        />
      </td>
      <td class="selector-cell">
        <input
          type="number"
          [formControl]="apScores[3]"
          (change)="calculatePrimaryScore()"
        />
      </td>
      <td class="score-cell">-</td>
    </tr> -->
    <app-primary-rows
      class="table-row"
      [playerNumber]="playerNumber"
    ></app-primary-rows>
    <!-- 
    There should always be 3 selected secondaries, and looping causes the
    inputs to break, so it should be ok to hardcode 3 secondaries
    -->
    <app-secondary-row
      class="table-row"
      [playerNumber]="playerNumber"
      [idx]="0"
    ></app-secondary-row>
    <app-secondary-row
      class="table-row"
      [playerNumber]="playerNumber"
      [idx]="1"
    ></app-secondary-row>
    <app-secondary-row
      class="table-row"
      [playerNumber]="playerNumber"
      [idx]="2"
    ></app-secondary-row>
  </tbody>
</table>
