<table class="mx-auto mb-3 border-2 border-collapse table-fixed">
  <thead>
    <tr>
      <th style="width: 45%" class="mx-2">Objective</th>
      <th style="width: 10%" class="mx-2">Turn 1</th>
      <th style="width: 10%" class="mx-2">Turn 2</th>
      <th style="width: 10%" class="mx-2">Turn 3</th>
      <th style="width: 10%" class="mx-2">Turn 4</th>
      <th style="width: 10%" class="mx-2">Turn 5</th>
      <th style="width: 5%" class="mx-2">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 45%">Objective</td>
      <td style="width: 10%">Turn 1</td>
      <td style="width: 10%">Turn 2</td>
      <td style="width: 10%">Turn 3</td>
      <td style="width: 10%">Turn 4</td>
      <td style="width: 10%">Turn 5</td>
      <td style="width: 5%">Total</td>
    </tr>
    <app-primary-row [playerNumber]="player"></app-primary-row>
  </tbody>
</table>
