<tr>
  <!-- Main primary -->
  <td class="text-center" style="width: 45%">Primary</td>
  <td style="width: 10%">
    <input type="number" class="w-32 text-center" placeholder="-" disabled />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="pScores[0]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="pScores[1]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="pScores[0]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="pScores[0]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td class="font-semibold text-center" style="width: 5%">
    {{ primaryScore }}
  </td>
</tr>

<tr>
  <!-- Secondary Primary -->
  <td style="width: 45%">Additional</td>
  <td style="width: 10%">
    <input type="number" class="w-32 text-center" placeholder="-" disabled />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="secScores[0]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="secScores[1]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="secScores[2]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td style="width: 10%">
    <input
      type="number"
      [formControl]="secScores[3]"
      (change)="calculateTotalScore()"
      class="w-32 text-center"
    />
  </td>
  <td class="text-center" style="width: 5%">-</td>
</tr>
