<div class="d-flex text-center">
  <div class="flex-row">
    <h1 class="text-4xl font-bold">Warhammer Scoreboard</h1>
  </div>
  <div class="flex-row mt-3">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white rounded px-4 py-2 font-bold mr-2"
      routerLink="gamestartninth"
    >
      Start Game
    </button>
    <button
      class="bg-green-500 hover:bg-green-600 text-white font-bold rounded px-4 py-2"
      routerLink="results"
    >
      Scoreboard
    </button>
  </div>
</div>
