<td class="selector-cell">
  <input type="number" [(ngModel)]="turn1" (change)="calculateScore()" />
</td>
<td class="selector-cell">
  <input type="number" [(ngModel)]="turn2" (change)="calculateScore()" />
</td>
<td class="selector-cell">
  <input type="number" [(ngModel)]="turn3" (change)="calculateScore()" />
</td>
<td class="selector-cell">
  <input type="number" [(ngModel)]="turn4" (change)="calculateScore()" />
</td>
<td class="selector-cell">
  <input type="number" [(ngModel)]="turn5" (change)="calculateScore()" />
</td>
